/* Establecer el estilo general del cuerpo */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/imagines/perro1.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 20px;
}

.form-container {
    background: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 12px;
}

label {
    font-size: 12px; /* Reducir tamaño del label */
    margin-bottom: 4px;
}

input {
    width: calc(100% - 20px);
    font-size: 14px; /* Reducir tamaño del input */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 8px; /* Reducir margen entre campos */
}

button {
    font-size: 14px; /* Reducir tamaño del botón */
    padding: 10px;
    width: 100%;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background: #0056b3;
    }

/* Estilo para la sección de requisitos de la contraseña */
.password-rules {
    font-size: 10px; /* Reducir tamaño de la fuente */
    color: #666; /* Color gris oscuro */
    margin-bottom: 5px; /* Espaciado antes del input */
    line-height: 1.4; /* Ajustar el espacio entre líneas */
}

@media (max-width: 480px) {
    .form-container {
        width: 90%;
        padding: 20px;
    }

    input {
        font-size: 12px; /* Reducir aún más el tamaño de los inputs en pantallas pequeñas */
        padding: 6px;
    }

    button {
        font-size: 12px; /* Reducir tamaño del botón en pantallas pequeñas */
        padding: 8px;
    }
}
