@{
    ViewData["Title"] = "Pantalla 3";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/pantalla3.css">
</head>
<body>
    <div class="container">
        <script>
            if ('serviceWorker' in navigator) {
              navigator.serviceWorker.register('/service-worker.js')
                .then(reg => console.log('Service Worker registrado:', reg))
                .catch(err => console.error('Error al registrar el Service Worker:', err));
            }
        </script>

        <h1>Pago en Línea</h1>
        <img src="~/imagines/pantalla3.jpg" alt="Rex" />
        <p>Aquí puedes hacer tu pago en línea.</p>

        <div class="nav-dots">
            <span></span>
            <span></span>
            <span class="active"></span>
        </div>

        <div>
            <a href="@Url.Action("CompletarOnboarding", "Onboarding")" class="btn">Iniciar Aplicación</a>
            <a href="@Url.Action("CompletarOnboarding", "Onboarding")" class="btn btn-secondary">Omitir</a>
        </div>
    </div>
</body>
</html>
