@{
    ViewData["Title"] = "Pantalla 2";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/pantalla2.css">
</head>
<body>
    <div class="container">
        <script>
            if ('serviceWorker' in navigator) {
              navigator.serviceWorker.register('/service-worker.js')
                .then(reg => console.log('Service Worker registrado:', reg))
                .catch(err => console.error('Error al registrar el Service Worker:', err));
            }
        </script>

        <h1>Servicios y Productos</h1>
        <img src="~/imagines/pantalla2.jpg" alt="Rex" />
        <p>En este menú podrá ver los servicios y productos que tenemos disponibles.</p>

        <div class="nav-dots">
            <span></span>
            <span class="active"></span>
            <span></span>
        </div>

        <div>
            <a href="@Url.Action("Pantalla3", "Onboarding")" class="btn">Siguiente</a>
            <a href="@Url.Action("CompletarOnboarding", "Onboarding")" class="btn btn-secondary">Omitir</a>
        </div>
    </div>
</body>
</html>
